<mat-card class="mat-card-profile">
  <div *ngIf="currentUser" class="profile__header">
    <mat-card-title>User profile</mat-card-title>
    <img src="../../../../assets/images/avatar.png" alt="avatar" />
  </div>

  <mat-card-content>
    <form
      class="form"
      [formGroup]="ProfileForm"
      (submit)="onSubmit(formDirective)"
      #formDirective="ngForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input id="name" matInput formControlName="name" />
        <mat-error *ngIf="ProfileForm.controls.name.errors?.['required']">
          Please enter your name
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.name.errors?.['minlength']">
          Your name is too short
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.name.errors?.['maxlength']">
          Your name is too long
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.name.errors?.['errorMsg']">
          Latin or Cyrillic letters only, i.e: Ivan Ivanov
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Login</mat-label>
        <input id="login" matInput formControlName="login" />
        <mat-error *ngIf="ProfileForm.controls.login.errors?.['required']">
          Please enter a login
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.login.errors?.['minlength']">
          Your login is too short
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.login.errors?.['maxlength']">
          Your login is too long
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.login.errors?.['errorMsg']">
          Login can only consist of latin letters and numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field
        [ngClass]="{ mb60: ProfileForm.controls.password.errors?.['errorMsg'] }"
        class="full-width"
        appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          type="password"
          matInput
          formControlName="password" />
        <mat-error *ngIf="ProfileForm.controls.password.errors?.['required']">
          Please enter a password
        </mat-error>
        <mat-error *ngIf="ProfileForm.controls.password.errors?.['errorMsg']">
          At least 8 chars with numbers, uppercase, special char !@#?]
          <ul>
            <ng-container
              *ngFor="let err of ProfileForm.controls.password.errors?.['errorMsg'] | keyvalue">
              <li *ngIf="err.value">
                {{ err.value }}
              </li>
            </ng-container>
          </ul>
        </mat-error>
      </mat-form-field>

      <button
        *ngIf="!isSuccessSubmited; else successNote"
        [disabled]="submited"
        class="form__btn full-width"
        type="submit"
        color="accent"
        mat-flat-button>
        <mat-icon
          aria-hidden="true"
          aria-label="Save"
          fontIcon="save"></mat-icon>
        Save
      </button>
      <ng-template #successNote>
        <span class="submitted-success">
          <mat-icon
            color="green"
            aria-hidden="true"
            aria-label="submitted"
            fontIcon="check_small"></mat-icon
          >Successfully saved!
        </span>
      </ng-template>

      <mat-card-footer>
        <button
          (click)="openConfirmModal()"
          type="button"
          color="basic"
          mat-flat-button>
          <mat-icon
            color="warn"
            aria-hidden="true"
            aria-label="Delete account"
            fontIcon="person_remove"></mat-icon>
          Delete account
        </button>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
