<main class="container">
  <section class="wrapper hero">
    <div class="hero__intro">
      <h1 class="hero__title">
        <span class="span">Project Management App</span>
        <span class="span">for High Performing Team</span>
      </h1>

      <p class="hero__subtitle">
        Easy to Start. Visual to Use. Great Solutions.
      </p>

      <button
        routerLink="/auth/sign-up"
        class="hero__button"
        color="primary"
        mat-flat-button>
        Get Started
      </button>
    </div>
    <div class="hero__pic">
      <img class="img" src="../../../../assets/images/hero.png" title="hero" />
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="wrapper tools">
    <div class="tools__pic">
      <img
        class="img"
        src="../../../../assets/images/kanban.png"
        title="hero" />
    </div>
    <div class="tools__description">
      <h2 class="h2 tools__title">Manage complex work easily</h2>
      <div class="features">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon
                aria-hidden="true"
                aria-label="List view"
                fontIcon="view_kanban"></mat-icon
              >List view</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Organize and assign tasks. With lists, teams see immediately what
              they need to do, which tasks are a priority, and when work is due.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon
                aria-hidden="true"
                aria-label="Boards"
                fontIcon="developer_board"></mat-icon
              >Boards</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Make it easy for your team to focus on tasks currently at hand.
              Define each stage of work to see what’s important and where things
              are getting stuck.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon
                aria-hidden="true"
                aria-label="Cards"
                fontIcon="view_timeline"></mat-icon
              >Cards</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              PMA cards are your portal to more organized work—where every
              single part of your task can be managed, tracked, and shared with
              teammates.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="wrapper about-us">
    <div class="about-us__header">
      <h2 class="h2">About Us</h2>
      <p>
        The application is developed as part of an Angular course by Rolling
        Scope School.
      </p>
    </div>
    <div class="about-us__team">
      <div class="about-us__person">
        <img
          class="about-us__avatar"
          src="https://avatars.githubusercontent.com/u/39500221?v=4"
          alt="sveta" />
        <h3>Sveta</h3>
        <mat-list>
          <mat-list-item>Deploy backend</mat-list-item>
          <mat-list-item>Main, Board pages</mat-list-item>
        </mat-list>
      </div>
      <div class="about-us__person">
        <img
          class="about-us__avatar"
          src="https://avatars.githubusercontent.com/u/15246554?v=4"
          alt="vitali" />
        <h3>Vitali</h3>
        <mat-list>
          <mat-list-item>Welcome page</mat-list-item>
          <mat-list-item>Login, Sign Up pages</mat-list-item>
        </mat-list>
      </div>
      <div class="about-us__person">
        <img
          class="about-us__avatar"
          src="https://avatars.githubusercontent.com/u/11501370?s=200&v=4"
          alt="?" />
        <h3>?</h3>
        <mat-list>
          <mat-list-item>-</mat-list-item>
          <mat-list-item>-</mat-list-item>
        </mat-list>
      </div>
    </div>
  </section>
</main>
