:host{
  min-width: 15rem;
  padding: 20px 10px;
  border: dashed 1px #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  background-color: white;
}

.column-title {
  width: 100%;
  padding: 0.5rem;
  h2{
    font-weight: 600;
    font-size: 14px;
  }
}