<app-create-board *ngIf="modalsService.showCreateBoardModal"></app-create-board>
<ng-template #noboards>
  <div class="no-boards">
    <p>You haven't created any board yet</p>
    <button mat-flat-button (click)="onCreateNewBoard()" color="primary">
      Create new board
    </button>
  </div>
</ng-template>
<mat-nav-list *ngIf="boards.length !== 0; else noboards" class="boards-list">
  <h1 class="boards-list_header">Boards</h1>
  <app-board
    *ngFor="let board of boards; let i = index"
    [board]="board"></app-board>
</mat-nav-list>
