<div class="board_header">
  <h1 *ngIf="board">
    {{ 'BOARD_PAGE.title' | translate }}: <b>{{ board.title }}</b>
  </h1>
  <button mat-raised-button color="accent" (click)="onColumnCreateClick()">
    {{ 'BOARD_PAGE.createColBtn' | translate }}
  </button>
</div>
<div
  id="columnDragList"
  class="columns_container"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="columns"
  (cdkDropListDropped)="dropColumns($event)">
  <app-column-component
    *ngFor="let column of columns"
    [column]="column"
    [columns]="columns"
    [cdkDragData]="column"
    cdkDropListGroup
    cdkDrag></app-column-component>
</div>
