:host {
  height: calc(100% - 218px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f3f5fb;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    min-width: 128px;
  }
}

.columns {
  &_container {
    min-width: 100%;
    min-height: calc(100% - 34px);
    display: flex;
    padding: 0;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
