:host {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f3f5fb;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.columns {
  &_container {
    min-width: 100%;
    min-height: 94%;
    display: flex;
    padding: 0;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}