<div class="board_header">
  <h1 *ngIf="board">
    {{ 'BOARD_PAGE.title' | translate }}: <b>{{ board.title }}</b>
  </h1>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="onColumnCreateClick()">
    {{ 'BOARD_PAGE.createColBtn' | translate }}
  </button>
  <div class="board_users">
    <div *ngFor="let user of boardUsers">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="user_btn">
        {{ user.name!.slice(0, 1) | uppercase }}
      </button>
      <mat-menu #menu="matMenu">
        <div class="user_info">
          <p class="user_info__header">
            {{ 'BOARD_PAGE.assignedUserInfo' | translate }}
          </p>
          <div class="user_info__title-container">
            <p class="user_info__title">
              {{ 'BOARD_PAGE.assignedUserName' | translate }}:
            </p>
            <p class="user_info__title-data">{{ user.name }}</p>
          </div>
          <div class="user_info__title-container">
            <p class="user_info__title">
              {{ 'BOARD_PAGE.assignedUserLogin' | translate }}:
            </p>
            <p class="user_info__title-data">{{ user.login }}</p>
          </div>
          <button mat-stroked-button (click)="deleteUserFromBoard(user._id)">
            {{ 'BOARD_PAGE.deleteUserFromBoardBtn' | translate }}
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
<div
  id="columnDragList"
  class="columns_container"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="columns"
  (cdkDropListDropped)="dropColumns($event)">
  <app-column-component
    *ngFor="let column of columns"
    [column]="column"
    [columns]="columns"
    [cdkDragData]="column"
    cdkDropListGroup
    cdkDrag></app-column-component>
</div>
