:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 999;
}

.create-board {
  position: relative;
  width: 35%;
  height: 45%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_inputs-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    width: 100%;
  }
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: inherit;
  &:hover {
    color: #3f51b5;
  }
}