<div class="task-container">
  <div class="task-container_header">
    <p>Edit task:</p>
    <p
      class="task-form_header"
      [(ngModel)]="task.title"
      name="task-title"
      ngDefaultControl>
      {{ title!.value }}
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="task-form">
    <form
      [formGroup]="formTask"
      (ngSubmit)="onTaskDataChanged()"
      class="task-form_form">
      <mat-form-field class="task-form_filed">
        <p><b>Title:</b></p>
        <input
          matInput
          formControlName="title"
          required
          class="task-form_input" />
        <mat-error *ngIf="title!.invalid" class="task-form_error">{{
          titleErrorMessage
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="task-form_filed">
        <p><b>Description:</b></p>
        <textarea
          matInput
          formControlName="description"
          required
          class="task-form_input"></textarea>
        <mat-error *ngIf="title!.invalid" class="task-form_error">{{
          titleErrorMessage
        }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
  <button mat-icon-button (click)="onClose()" class="close-modal-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
